header {
	background: url(https://images.unsplash.com/photo-1482349212652-744925892164?dpr=2&auto=format&fit=crop&w=1500&h=843&q=80&cs=tinysrgb&crop=&bg=b) no-repeat; 
	color: #e3ebeb;
	height: 120px;
	text-align: center;
}

body {
    /*font-family: 'Roboto', sans-serif;*/
	font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
}

footer {
	background: #656565;
	color: #e3ebeb;
	height: 50px;
	padding-top: 30px;
}

a {
	text-decoration: none;
}

html, body {
  height: 100%;
}
.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -30px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/1/17/BlankMap-World-noborders.png) no-repeat center;
  background-size: cover;
  /* temporary background until I figure out the time zone API */
}
.container:after {
  content: "";
  display: block;
}
.footer, .container:after {
  height: 30px; 
}

h1.title {
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Lobster', cursive;
	font-size: 4em;
	color: #f0ffd3;
	padding-top: 30px;
	float: center;
	position: relative;
	/* need to fix the position so this title is actually centered -- right now the logo is pushing it slightly to the right */
}

#logo {
	float: left;
	position: relative;
	height: 100px;
	padding: 5px 0 0 10px;
}

#cityContainer {
    padding: 100px 0 0 10px; 
    font-size: 3em;
    font-weight: bold;
}

#timeContainer {
    font-size: 2.5em;
    padding: 10px;
}

.drink-suggest {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   padding: 100px;
}

.flexdrink {
   /*background: #DFB5A7;*/
   /*color: #414141;*/
   border: #4f5656 solid 3px;
   width: 200px;
   margin: 0 auto; 
   background: #414141;
   color: #e3ebeb;
}

h2.drink-name {
	font-size: 1.5em;
	/*padding-bottom: 10px;*/
	font-weight: 700;
	padding: 20px;
}

.drink-image {
	width: 200px;
	border: #4f5656 2px solid;
	/*margin: 10px;*/
}

.front {
	background: #656565;
	color: #e3ebeb;
	height:200px;
	width:200px;
	-webkit-transition: width 2s;
	transition: width 2s;
}

.back {
	/*height:200px;
	width:200px;
	-webkit-transition: width 2s;
	transition: width 2s;*/

	/* webkit transitions

	css transition - resize (shrink class - toggleClass in JS) */
}

.front.expand {
	width: 400px;
}

h3.ingredients-heading, h3.directions-heading {
	font-size: 1.2em;
	text-align: left;
	font-weight: 600;
}

.ingredients, .directions {
	font-size: 1em;
	text-align: left;
	padding: 10px;
}

/*.recipe-button {
	background: #656565;
	color: #e3ebeb;
	border: #f0ffd3 0px solid;
	border-radius: 5px;
 	padding: 10px 0;
 	width: 150px;
 	text-align: center;
 	display: block;
 	margin: 0 auto;
 }*/