.parallax { 
	background-image: url("http://ichef.bbci.co.uk/images/ic/1600xn/p03m9j90.jpg");
	height: 100vh 100vw; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
div {
	padding:30px;
}
body {
	font-family: sans-serif;
	padding:30px;
	background:#361001;
	color:#C6BBBD;
}
p {
	background:#814935;
}
ul {
	background:#814935;
}
.header {
	color:rgb(244,214,167);
}
#cupcake {
	color:;
}
#carrot-cake {
	color:#711F00;
}