body {
	font-family:georgia;
	padding: 50px;
	line-height: 150%;
}
h4 {
	letter-spacing: 2px;
}
.headers {
	font-family: helvetica;
}
.header-footer {
	text-align: center;
	line-height: 150%;
}
#developer-life {
	letter-spacing: 2px;
}
a:link, a:hover, a:visited {
	color: black;
	font-weight: bold;
	font-family: helvetica;
}
a:active {
	text-decoration: none;
	font-style: italic;
}
.deliverables {
	border: black 1px;
	border-style: solid;
	padding: 3px;
}
.exp-main {
	font-family:helvetica;
}
.exp-desc {
   list-style-type: none; 
}