header, footer {
	text-align: center;
	line-height: 150%;
}
body {
	font-family:georgia;
	padding: 50px;
	line-height: 150%;
	font-size: 16px;
}
.main-content {
	padding: 30px;
}
h4 {
	letter-spacing: 2px;
}
.headers {
	font-family: helvetica;
}
.hr-headings { 
   border: none;
   height: 10px;
}
#developer-life {
	letter-spacing: 2px;
}
a:link, a:hover, a:visited {
	color: black;
	font-weight: bold;
	font-family: helvetica;
}
a:active {
	text-decoration: none;
	font-style: italic;
}
img {
	border: black 1px;
	border-style: solid;
	padding: 3px;
	margin: 10px;
}
.center-images {
	text-align: center;
}
.exp-main {
	font-family:helvetica;
}
.exp-desc {
   list-style-type: none; 
}
ul {
	list-style: square;
}
#guy {
	float: right;
}