/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}

/* Button styles -- basic */
a {
  text-decoration: none;
  text-align: center;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
  background: url("../images/header_bg.jpg") no-repeat left top rgb(134,141,157);
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

footer {
  background-color: #121212;
  color: white;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-size: 24px;
  font-weight: 900;
  color: white;
}

/* Need to add margin or padding */
h1.relaxr-header {
  margin-top: 20;
  margin-left: 50;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}


/* Get it Now button */
a.get-button {
  width: 180px;
  text-align: center;
  background-color: #f9e42e;
  color: #033048;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 800;
  display: block;
}

div.get-button {
  padding-top: 15px;
  padding-bottom: 150px;
}

/* Benefits section */
section.benefits {
  background-color: #f0efef;
  color: #033048;
  padding: 40px;
}

div.benefits {
  width: 320px;
}

p#benefits-content {
  font-size: 13px;
  font-weight: 300;
  color: #606161;
  width: 340px; 
  padding-left: 5px;
}

ul.benefits-content-list {
  list-style: black;
  margin-left: 25px;
  margin-top: 25px;
  list-style-position: inside;
  width: 240px;
}

span.benefits-list-bullet {
  font-weight: 600;
}

/*Testimonials section*/
section.testimonials-section {
  background: url(../images/testimonial_bg.jpg) no-repeat center;
  background-size: cover;
  color: white;
}

div.testimonials {
  width: 350px;
  margin: auto;
  padding: 30px;
}
  /* Would it be better to use a max width or just set the width for a more responsive design? */

/*Testimonials content - colors don't totally match the deliverable, but I'm not sure if that's due to the picture quality. I tried using the light gray color but it was still too dark.*/
blockquote.testimonials-content {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}

span.testimonials-content-name {
  font-weight: 600;
  font-style: normal;
  padding: 20px;
}

/* Sign up section */
section.sign-up {
  background-color: #f9e42e;
  padding: 15px;
}

/* Sign up button */
a > div.sign-up-button {
  background-color: #033048;
  color: white;
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 150px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 800;
}

/* Footer */
h1.relaxr-footer {
  color: #f9e42e;
  padding: 30px;
}

/*Social Media logos*/
img.social-icons {
  height: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Copyright Info */
p.copyright-footer {
  padding: 15px;
  padding-top: 30px;
}