/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background: #f0efef;
}


/* I know this is the wrong font family, but I'm not sure which it is! Will change later if I can */

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
}

header {
  background: #033048;
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: #121212;
  color: white;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-size: 24px;
  font-weight: 900;
  color: white;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #033048;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #033048;
}

p {
  color: #606161;
}

a {
  color: #033048;
  text-decoration: none;
  text-align: center;
}

/* Navigation */
  /* Struggling to add padding and keep horizontally center */
a.nav {
  color: #f9e42e;
  display: block;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  margin: 0;
}

nav > ul > li {
  float: right;
}

/* Main Content - Flexbox Div */

.flexbox-div {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding: 50px;
  width: 100%;
}

.flexbox-div > section {
  padding-left: 5px;
  padding-right: 5px;
}

.flexbox-div > section.articles {
  width: 70%;
}

.flexbox-div > section.aside {
  width: 30%;
}

  /* Article Content */
article > img {
  width: 100%;
  padding-bottom: 10px;
}

  /* it took *so long* to figure out how to align this properly */
  /* also struggled trying to only make the text a link instead of the whole section */
  /* flex may be problem, but I don't know how to properly align without it */
article > a {
  font-weight: bold;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #033048;
}
  
  /* struggle bus city trying to fix the weird spacing issue here */
article > p:first-letter {
  float: left;
  font-size: 3em;
  line-height: 35px;
}

  /* Aside Content */
aside {
  padding-bottom: 25px;
}

aside > ul {
  padding-left: 5px;
}

aside > a {
  font-weight: bold;
}

  /* Ad Space */
div.ad-space {
  background: white;
  text-align: center;
  width: 100%;
  height: 300px;
  color: black;
  padding: 0 0 10px 10px;
}

/* Sign up section */
section.sign-up {
  background-color: #f9e42e;
  text-align: center;
  padding: 25px;
}

/* Sign up button */
a.sign-up-button {
  background-color: #033048;
  color: white;
  text-align: center;
  padding: 10px 40px 10px 40px;
  margin: auto;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 800;
}

/* Footer */
h1.relaxr-footer {
  color: #f9e42e;
  padding: 30px;
}

/*Social Media logos*/
img.social-icons {
  height: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Copyright Info */
p.copyright-footer {
  padding: 15px;
  padding-top: 30px;
  color: white;
}